---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import Layout from '@/layouts/LayoutPortfolio.astro';

import About from '@/components/portfolio/sections/About.astro';
import Education from '@/components/portfolio/sections/Education.astro';
import Experience from '@/components/portfolio/sections/Experience.astro';
import Hero from '@/components/portfolio/sections/Hero.astro';
import Projects from '@/components/portfolio/sections/Projects.astro';
import Skills from '@/components/portfolio/sections/Skills.astro';

import { basics, work, education, projects } from '@cv';
const { short_name } = basics;
---

<Layout title={`${short_name}`} basics={basics}>
    <Header />
    <main>
        <Hero basics={basics} />
        <About basics={basics} />
        <Experience work={work} />
        <Education education={education} />
        <Projects projects={projects} />
        <Skills />
    </main>
    <Footer />
</Layout>

<style>
    main {
        padding: 4rem;
        margin: auto;
        width: 100%;
    }
</style>
